<html>
<body>
<h1>Interest Rate Predictor</h1>
<form action = "/getprediction" method = "POST">
<p>Amount Requested: <input type = "text" name = "amount" /></p>
<p>Term (Loan Length): <input type = "text" name = "term" /></p>
<p>Annual Income: <input type = "text" name = "income" /></p>
<p>State: <input type = "text" name = "state" /></p>
<p>Rent or Own Home: <input type = "text" name = "rent" /></p>
<p>Delinquencies: <input type = "text" name = "delinquencies" /></p>
<p>FICO Low: <input type = "text" name = "fico_low" /></p>
<p>FICO High: <input type = "text" name = "fico_high" /></p>
<p>Last FICO Low: <input type = "text" name = "last_fico_low" /></p>
<p>Last FICO High: <input type = "text" name = "last_fico_high" /></p>
<p>Credit Lines Open: <input type = "text" name = "credit_lines" /></p>
<p>Revolving Balance: <input type = "text" name = "revolving_balance" /></p>
<p>Inquires in last 6 months: <input type = "text" name = "inquires" /></p>
<p>Length of Employment: <input type = "text" name = "employment" /></p>

<p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>